extends layout

block content
  a(href="https://github.com/laurentgoudet/notesearch")
    img(style="position: absolute; top: 0; right: 0; border: 0;" src="/images/fork-me-right-grey.png" alt="Fork me on GitHub")
  //img#icon(href="icon128-green.png")
  h1 NoteSearch: Instant Search for Evernote® 
  p
    | NoteSearch lets you quickly search and access your notes stored in Evernote® directly from Chrome's Omnibox (search bar).
  hr
  h3 Where do I get it?
  p
    | NoteSearch can be downloaded from the Chrome web store: 
    a(href="#") NoteSearch
  h3 How to use it?
  p
    | Simply enter 'note' in Chrome's address bar (use CTRL+L or CMD+L to quickly reach it) and press the TAB key.
  h3 What about a screenshot?
  p
    | Here it is:
  img(src="/images/screenshot-1.png") NoteSearch screenshot
  h3 Great! But can you add this yet-another-awesome feature?
  p
    | If you know how to code, feel free to 
    a(href="#") Do It Yourself
    |  and send me a pull request on GitHub.
    br
    | If you don't know how to code, please learn. It's never too late, and trust me it's going to become an vital skill in a near future.
    br
    | If your just lazy, feel free to submit a feature request on the GitHub tracker. With a little luck and a lot of money, maybe someone will do it for you.
  h3 I have too much free time. Any suggestion?
  p
    | Feel free to read 
    a(href="http://laurentgoudet.com") my blog
    |  to learn useless things about computers and watch me pretending to be a photograph. I know, I missed my career.
