doctype 5
html
  head
    title Omninote redirect page
  body
    h1 Authentification success!
    h3 Token Credentials:
    ul
      li
        b token:  
        = session.oauthAccessToken
      li
        b secret:  
        = session.oauthAccessTokenSecret
